{% extends "base.twig" %}
{% block title %} Home {% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href={{ asset('/hello.css', 'css') }}>
{% endblock %}
{% block content %}
    <br>
    <br>

    <!--<h1> Hello Elna!</h1>-->
    {{ dades|raw}}



    <div class="[ panel panel-default ] panel-google-plus">
        <h2> Últimas entradas de DOGYGRAM: </h2>
    </div>



    <div class="information">

    </div>
    <button class="btn btnt-primary loadmore" >Loadmore</button>



    <script src={{ asset('/hello.js', 'js') }}></script>


{% endblock %}