{% extends "base.twig" %}
{% block title %} Home {% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href={{ asset('/hello.css', 'css') }}>
{% endblock %}
{% block content %}
    <br>
    <br>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Sheena Shrestha</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" name="img_path" id="img_path"  class="img-circle img-responsive"> </div>

                 <div class=" col-md-9 col-lg-9 ">
                    <table class="profileTable">
                        <tbody>
                        <tr>
                            <td>Nom d'usuari:</td>
                            <td>Programming</td>
                        </tr>
                        <tr>
                            <td>Imatges Publicades</td>
                            <td name="hire">06/23/2013</td>
                        </tr>
                        <tr>
                            <td>Comentaris Realitzats</td>
                            <td>01/24/1988</td>
                        </tr>

                        </tbody>
                    </table>

                    <a href="#" class="btn btn-primary">My Sales Performance</a>
                    <a href="#" class="btn btn-primary">Team Sales Performance</a>
                </div>
            </div>
        </div>

    </div>
    </div>
    </div>

    <script src={{ asset('/hello.js', 'js') }}></script>


{% endblock %}